# Prevent from being able to ping this domain
RewriteEngine on
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]


# Enable text compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE image/png
</IfModule>


# Permanents redirections (301)
Redirect 301 /notre-histoire-2 /qui-sommes-nous
Redirect 301 /adn-2 /qui-sommes-nous
Redirect 301 /choisir-la-france /etudier-en-france
Redirect 301 /nos-conseils /blog
Redirect 301 /partenaires-institutionnels /partenaires
Redirect 301 /partenaires-logement /partenaires/immobilier
Redirect 301 /AVI /nos-services/ma-caution-bancaire
Redirect 301 /logement /nos-services/mon-logement
Redirect 301 /mon-compte-bancaire-en-france /nos-services/mon-compte-bancaire
Redirect 301 /studely-une-nouvelle-signature-tournee-vers-lavenir /article/studely-une-nouvelle-signature-tournee-vers-lavenir
Redirect 301 /trouver-mon-logement-etudiant-en-france-depuis-mon-pays-dorigine-est-ce-possible /article/trouver-mon-logement-etudiant-en-france-depuis-mon-pays-dorigine-est-ce-possible
Redirect 301 /deconfinement-en-france-studely-repond-a-vos-questions /article/deconfinement-en-france-studely-repond-a-vos-questions
Redirect 301 /attestation-de-virement-irrevocable-questions-reponses /article/attestation-de-virement-irrevocable-un-investissement-rentable
Redirect 301 /article/attestation-de-virement-irrevocable-un-investissement-rentable /article/attestation-de-virement-irrevocable-un-investissement-rentable
Redirect 301 /il-est-temps-de-penser-a-votre-demande-de-visa-long-sejour /article/il-est-temps-de-penser-a-votre-demande-de-visa-long-sejour
Redirect 301 /comment-reussir-son-entretien-campus-france-en-visioconference /article/comment-reussir-son-entretien-campus-france-en-visioconference
Redirect 301 /etudier-en-france-le-recapitulatif /article/etudier-en-france-le-recapitulatif
Redirect 301 /parcoursup-mode-demploi-pour-les-etudiants-internationaux /article/parcoursup-mode-d-emploi-pour-les-etudiants-internationaux
Redirect 301 /comment-bien-completer-mon-dossier-et-le-soumettre-a-campus-france /article/comment-bien-completer-mon-dossier-et-le-soumettre-a-campus-france
Redirect 301 /concours-post-bac-pour-entrer-en-ecole-dingenieurs-studely-vous-en-dit-plus /article/concours-post-bac-pour-entrer-en-ecole-dingenieurs-studely-vous-en-dit-plus
Redirect 301 /comment-reussir-son-concours-dentree-pour-integrer-une-ecole-de-commerce /article/comment-reussir-son-concours-dentree-pour-integrer-une-ecole-de-commerce
Redirect 301 /et-si-vous-optez-pour-une-ecole-dingenieurs-en-france /article/et-si-vous-optez-pour-une-ecole-dingenieurs-en-france
Redirect 301 /une-ecole-de-commerce-en-france-studely-vous-en-dit-plus /article/une-ecole-de-commerce-en-france-studely-vous-en-dit-plus
Redirect 301 /tests-de-francais-studely-vous-en-dit-plus /article/tests-de-francais-studely-vous-en-dit-plus
Redirect 301 /les-differents-types-de-master-tout-savoir-sur-les-diplomes-bac5 /article/les-differents-types-de-master-tout-savoir-sur-les-diplomes-bac5
Redirect 301 /studely-welcome-event-renforcer-les-liens-tisses-avec-vous-depuis-votre-pays-dorigine /article/studely-welcome-event-renforcer-les-liens-tisses-avec-vous-depuis-votre-pays-dorigine
Redirect 301 /pourquoi-choisir-la-france-pour-vos-etudes-superieures /article/pourquoi-choisir-la-france-pour-vos-etudes-superieures
Redirect 301 /les-bonnes-questions-a-se-poser-avant-de-partir-etudier-a-letranger /article/les-bonnes-questions-a-se-poser-avant-de-partir-etudier-a-l-etranger
Redirect 301 /comment-reussir-a-decrocher-un-stage-etudiant-en-france /article/comment-reussir-a-decrocher-un-stage-etudiant-en-france
Redirect 301 /les-5-avantages-dun-job-etudiant-en-france /article/les-5-avantages-d-un-job-etudiant-en-france
Redirect 301 /vie-etudiante-en-france-vie-associative-campus /article/vie-etudiante-en-france-profitez-de-la-vie-associative-et-de-campus
Redirect 301 /logement-etudiant-en-france-installation /article/logement-etudiant-en-france-5-conseils-pour-une-meilleure-installation
Redirect 301 /securite-sociale-des-etudiants-ce-qui-change-a-partir-du-1er-septembre-2019 /article/securite-sociale-etudiante-ce-qui-change-a-partir-du-1er-septembre-2019
Redirect 301 /la-voie-du-recours-apres-un-refus-de-visa-etudiant /article/la-voie-du-recours-apres-un-refus-de-visa-etudiant
Redirect 301 /studely-la-banque-postale-mobilisent-leur-expertise-pour-faciliter-lintegration-des-etudiants-internationaux /article/studely-and-la-banque-postale-mobilisent-leur-expertise-pour-faciliter-l-integration-des-etudiants-internationaux
Redirect 301 /etudiants-internationaux-preparez-votre-arrivee-en-france /article/etudiants-internationaux-preparez-votre-arrivee-en-france
Redirect 301 /studely-plus-quun-garant-pour-votre-logement-etudiant-en-france /article/studely-plus-qu-un-garant-pour-votre-logement-etudiant-en-france
Redirect 301 /tout-savoir-sur-le-pret-etudiant-de-studely /article/tout-savoir-sur-le-pret-etudiant-de-studely
Redirect 301 /studely-votre-guichet-unique-a-distance-depuis-la-france /article/studely-votre-guichet-unique-a-distance-depuis-la-france
Redirect 301 /glossaire-logement /article/lexique-du-logement-etudiant-en-france
Redirect 301 /combien-devrais-je-payer-pour-mon-futur-logement-etudiant-en-france /article/combien-devrais-je-payer-pour-mon-futur-logement-etudiant-en-france-prix-des-logements-en-france/
Redirect 301 /logement-etudiant-en-france-justification-signature-contrat-de-bail /article/logement-etudiant-en-france-justification-signature-contrat-de-bail
Redirect 301 /avi-financement-de-vos-etudes-en-france /article/avi-financement-de-vos-etudes-en-france
Redirect 301 /justification-ressources-financieres-visa-etudiant /article/justification-ressources-financieres-visa-etudiant
Redirect 301 /motif-5-refus-du-visa-etudiant-france-logement /article/motif-5-refus-du-visa-etudiant-france-logement
Redirect 301 /motif2-refus-visa-etudiant-france-ressource-financieres /article/moif2-refus-visa-etudiant-france-ressource-financieres
Redirect 301 /financement-projet-etudes-en-france /article/financement-projet-etudes-en-france
Redirect 301 /completer-procedure-parallele /article/completer-procedure-parallele
Redirect 301 /admission-refus-universites-ecoles-francaises /article/admission-refus-universites-ecoles-francaises
Redirect 301 /crous-procedure-logement-etudiant /article/crous-procedure-logement-etudiant
Redirect 301 /date-limite-soumission-dossiers-hors-dap /article/date-limite-soumission-dossiers-hors-dap
Redirect 301 /comment-reussir-entretien-campus-france /article/comment-reussir-son-entretien-campus-france
Redirect 301 /liste-concours-admission-ecole /article/liste-concours-admission-ecole
Redirect 301 /choix-de-formation-en-france /article/choix-de-formation-en-france
Redirect 301 /51-universites-refusent-la-hausse-des-frais-de-scolarite-pour-les-etudiants-etrangers /article/51-universites-ont-dit-non-a-la-hausse-des-frais-de-scolarite-des-etudiants-extra-europeens
Redirect 301 /plus-que-quelques-jours-pour-finaliser-ses-demarches-hors-dap /article/plus-que-quelques-jours-pour-finaliser-ses-demarches-hors-dap
Redirect 301 /vivez-noel-autrement /article/vivez-noel-autrement
Redirect 301 /ressources-financieres-etudiantes-10-pistes-pour-bien-gerer-vos-depenses /article/ressources-financieres-etudiantes-10-pistes-pour-bien-gerer-vos-depenses
Redirect 301 /rencontres-innovation-international-sud-un-pari-reussi-pour-studely /article/rencontres-innovation-international-sud-un-pari-reussi-pour-studely
Redirect 301 /bons-plans-pour-une-meilleure-vie-en-france /article/bons-plans-pour-une-meilleure-vie-en-france
Redirect 301 /ressources-financieres-3-reponses-pour-3-questions /article/ressources-financieres-3-reponses-pour-3-questions
Redirect 301 /les-5-bons-reflexes-quil-faut-avoir-pour-reussir-son-projet-detudes-en-france /article/les-5-bons-reflexes-qu-il-faut-avoir-pour-reussir-son-projet-d-etudes-en-france
Redirect 301 /studely-ouvre-ses-portes-au-mali-2 /article/studely-ouvre-ses-portes-au-mali-2
Redirect 301 /studely-ouvre-ses-portes-au-mali /article/studely-ouvre-ses-portes-au-mali
Redirect 301 /demande-de-visa-studely /article/demande-de-visa-studely
Redirect 301 /bail-etudiant-studely /article/logement-en-france-tout-savoir-sur-le-bail-etudiant
Redirect 301 /etudier-en-france-le-bon-choix /article/etudier-en-france-le-bon-choix
Redirect 301 /comment-renouveler-son-attestation /article/comment-renouveler-son-attestation
Redirect 301 /visa-etudiant-criteres-studely /article/visa-etudiant-criteres-studely
Redirect 301 /resultats-dap /article/resultats-dap-comment-se-preparer-a-la-suite/
Redirect 301 /visa-etudiant-criteres-studely /article/resultats-dap-comment-se-preparer-a-la-suite/
Redirect 301 /etablissements-non-connectes-a-campus-france /article/etablissements-non-connectes-a-campus-france
Redirect 301 /attendant-reponses-universites /article/attendant-reponses-universites
Redirect 301 /attendant-reponses-universites /article/en-attendant-les-reponses-des-ecoles-et-universites
Redirect 301 /reussissez-votre-entretien-campus-france /article/reussissez-votre-entretien-campus-france-grace-a-studely
Redirect 301 /ecrire-une-lettre-de-motivation /article/comment-ecrire-une-bonne-lettre-de-motivation
Redirect 301 /studely-au-coeur-de-linnovation-pour-lattractivite-de-lenseignement-superieur /article/studely-au-coeur-de-linnovation-pour-lattractivite-de-lenseignement-superieur
Redirect 301 /linda-premiere-studelienne /article/linda-premiere-studelienne

