@charset "utf-8";

// Import any variables we want to use to customize the project
@import "variables.scss";
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
body{
    @media screen and (max-width: 300px) {
        display: none;
    }
}
//Donut
.charts .cdc-legend{
    display: none;
}
// formattage slide
.vueperslides--touchable{
    display: none;
    @include mobile(){
        display: block;
    }
}
.vueperslides__parallax-wrapper::before,.vueperslides__parallax-wrapper::after{
    display: none;
}
.vueperslide {
    display: flex !important;
}
.vueperslides--touchable figure.is-flex.is-flex-direction-row-reverse.is-justify-content-space-between {
    width: calc(((100vw - (3rem * 2)) * 70 / 100 )); // 70 % de la largeur totale 
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    flex-wrap: wrap;
    font-size: 12px;
    @media screen and (max-width: 400px) {
        width: calc(((100vw - (3rem * 2)) * 80 / 100 )); // 70 % de la largeur totale 
    }
    @media screen and (max-width: 468px) {
        flex-direction: column !important;
        align-items: center;
        & .representation{
            width: 50px;
            justify-content: center;
            text-align: center;
        }
    }
}
.vueperslides__parallax-wrapper{
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    margin-bottom: 50px;
    @media screen and (max-width: 468px) {
        padding-bottom: 100px !important;
        margin-bottom: 100px;
    }
}
.vueperslides__bullets{
    bottom: -50px !important;
    align-items: baseline;
}
.vueperslides__arrows, .vueperslides__bullets:not(.vueperslides__bullets--outside) {
    color: #267EC3 !important;
}
button.vueperslides__arrow {
    background: white !important;
    padding: 10px;
} 
a.pagination-link.pagination-previous {
    order: 1;
}
.pagination {
    @media screen and (max-width: 768px){
        flex-wrap: nowrap;
    }
    /* flex-wrap: wrap; */
}